@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #001580;
  --family-1: "Poppins", serif;
  --family-2: "Inter", serif;
}

body {
  font-family: var(--family-2);
  background: #191919;
}

/* the Home banner section */
a {
  color: white;
}
.binge_header {
  background-color: rgba(0, 0, 0, 0.66);
}
.home_banner {
  background: linear-gradient(to bottom, transparent, #191919),
    url("./assets/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-blend-mode: darken;
}
.recently_header {
  font-family: var(--family-1);
}

/* Footer styles */
.footer_banner {
  background-image: linear-gradient(
      to left,
      rgba(34, 142, 236, 0.7),
      rgb(27, 0, 162)
    ),
    url("./assets/Rectangle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

/* ####### Responsive UI ###### */
